@model WebApplication1.Models.Schedule

@{
    Layout = "~/Views/Shared/_NormalUserLayout.cshtml";
    ViewData["Title"] = "Đặt lịch khám bệnh";
    ViewData["Action"] = "Create"; // Action for the form submission
    ViewData["SubmitButtonText"] = "Thêm mới"; // Button text
}

<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>
    @await Html.PartialAsync("_ScheduleFormPartial", Model)
</div>